#drop-zone {
    width: 200px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    border: 2px dashed rgba(0,0,0,.3);
    border-radius: 20px;
    font-family: Arial;
    text-align: center;
    position: relative;
    font-size: 12px;
    color: rgba(0,0,0,.3);
}

#drop-zone.mouse-over {
    border: 2px dashed rgba(0,0,0,.7);
    color: rgba(0,0,0,.7);
}

.file-text-window {
    
}
